body, html{
	height: 100%;
	padding: 0;
	margin: 0;
}
body{
	background: linear-gradient(rgba(66, 4, 126, .8), rgba(7, 244, 158, .7)), url('../img/fondo3.jpg');
	background-size: cover;
	background-position: center;
	color: white;
}

.logo{
	height: 125px;
	margin-top: 20px;
}


a .fab{
	color: white;
	font-size: 40px;
}

.btn {
  border-radius: 0;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #007BFF, #00BFFF);
  border: none;
  color: white;
}

.btn:hover {
  background-image: linear-gradient(to right, #00BFFF, #007BFF);
}


.form-control {
  border-radius: 0;
  padding: 12px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  outline: none;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-control:focus {
  border-color: #FF4081;
  box-shadow: 0 0 0 0.2rem rgba(255, 64, 129, 0.25);
}
.tot{
  margin-left: 135px;
}